* {
    margin: 0;
    padding: 0;

}

/* theme */

.light-theme {
    background-color: #f5f5f5;
    color: #000;
}

.dark-theme {
    background-color: rgb(37, 37, 37);
    color: #fff;
}


/* header page */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon {
    font-size: 24px;
}

/* login page */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.login-container {
    text-align: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login-content,
.form-control {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content input,
.form-control input {
    font-size: 14px;
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    box-shadow: rgba(38, 57, 77) 0px 7px 7px -10px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}